/* Buttons and links - Styles */

.logo-frame {
    width: 130px;
    height: 40px;
    background-image: url('../resources/btn-white-tnsp.svg');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: background-image 0.4s ease;
    /* z-index: 100; */
}

.logo-frame:hover {
    background-image: url('../resources/btn-blue-black.png');
}

.btn-menu-burger {
    display: none;
}

.project-link-btn {
    padding: 10px 20px;
    font-size: 20px;
    line-height: 27px;
    color: var(--clr-dark); 
    text-decoration: none;
    background-color: var(--clr-bright);
    border: 1px solid var(--clr-bright);
    border-radius: 100px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.project-link-btn:hover {
    color: var(--clr-bright);
    background-color: var(--clr-bg-dark);
}

.all-projects-btn {
    display: block;
    margin-top: 80px;
    margin-left: 0;
    width: 582px;
    font-size: 30px;
    line-height: 153px;
    text-align: center;
    color: var(--clr-dark);
    background-color: var(--clr-bright);
    border: solid 1px var(--clr-bright);
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.all-projects-btn:hover {
    color: var(--clr-bright);
    background-color: var(--clr-bg-dark);
}

.contact-form-btn {
    width: 100%;
    font-size: 22px;
    line-height: 70px;
    text-align: center;
    color: var(--clr-dark);
    background-color: var(--clr-bright);
    border: solid 1px var(--clr-bright);
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.contact-form-btn:hover {
    color: var(--clr-bright);
    background-color: var(--clr-bg-dark);
}

/*** TABLET Screen only ***/
@media (max-width: 1182px) {


    .btn-menu-burger {
        display: block;
        height: 26px;
        width: 36px;
        background: transparent;
        border: none;
        cursor: pointer;
    }
        
    .project-link-btn {
        padding: 8px 16px;
        border-radius: 80px;
        font-size: 16px;
        line-height: 22px;
    } 
    
    .all-projects-btn {
        margin-top: 64px;
        margin-left: 0;
        width: 460px;
        font-size: 24px;
        line-height: 124px;
        border-radius: 8px;
    }

    .contact-form-btn {
        font-size: 16px;
        line-height: 47px;
        border-radius: 7px;
    }
}
/*** End TABLET Screen ***/


/*** MOBILE screen only ***/
@media (max-width: 576px) {
        
    .project-link-btn {
        padding: 6px 12px;
        border-radius: 64px;
        font-size: 13px;
        line-height: 18px;
    } 

    .all-projects-btn {
        margin-top: 60px;
        margin-left: 0;
        width: 100%;
        font-size: 18px;
        line-height: 80px;
    }

    .contact-form-btn {
        font-size: 15px;
        line-height: 43px;
        border-radius: 6px;
    }

    
}
/*** End WIDE Screen ***/