/* Contact-Us Section Styles */

.contact-us {
/* REMOVE! Temporary margin-top */
    margin-top: 190px;
    height: 200px;
    background-color: var(--clr-bg-dark);
    border-radius: 30px;
    border: 1px solid yellow
}    




/*** TABLET Screen only ***/
@media (max-width: 1182px) {
    .contact-us {
        /* REMOVE! Temporary margin-top */
            margin-top: 130px;
        }     
    
    
}
/*** End TABLET Screen ***/


/*** MOBILE screen only ***/
@media (max-width: 576px) {

    .contact-us {
        /* REMOVE! Temporary margin-top */
            margin-top: 100px;
        }     
    
    
}
/*** End WIDE Screen ***/