@import "./main.css";
@import "./buttons.css";

html {
    scroll-behavior: smooth;
}

:root {
    --clr-bg-dark: #000000;
    --clr-dark: #191C19;
    --clr-semi-dark: #3B3D3B;
    --clr-bright: #2390ED;
    --clr-semi-light: #7791B3;
    --clr-light: #FFFFFF;
    --clr-bg-light: #FFFFFF;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
}

img,
svg {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.03em;
    background-color: var(--clr-bg-dark);
    color: var(--clr-light);
}

.container {
    margin-inline: auto;
    max-width: 1150px;
}


/*** TABLET Screen only ***/
@media (max-width: 1182px) {
    
    .container {
        padding-inline: 15px;
        width: 100%;
    }
}
/*** End TABLET Screen ***/


/*** MOBILE screen only ***/
@media (max-width: 576px) {
    
    .container {
        padding-inline: 12px;
    }
    

    
}
/*** End WIDE Screen ***/